body {
    width: 500px; /* 원하는 width 값으로 변경 */
}
.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    gap: 10px; /* space between grid items */
}
.checkbox-grid label {
    display: flex;
    align-items: center;
}
.checkbox-grid input {
    margin-right: 8px;
}
.hidden {
    display: none;
}
.active {
    display: block;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.button-container {
    display: flex;
    gap: 10px;
}
#checkboxContainer, #atkContainer, #defContainer {
    width: 100%;
    max-width: 600px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
table tr td:first-child,
table tr td:last-child {
    color: red; /* 텍스트 색상을 빨간색으로 지정 */
    font-weight: bold; /* 굵은 텍스트로 지정 */
}
/* 활성 상태의 버튼 스타일 */
button.active {
    display: inline-block;
    background-color: #4CAF50; /* 예시로 배경색을 초록색으로 지정 */
    color: white; /* 텍스트 색상 */
    border: 2px solid #4CAF50; /* 테두리 */
}
#buttonLabel {
    font-weight: bold; /* 굵은 글꼴로 설정 */
    margin-right: .5rem; /* 오른쪽 마진 추가 */
}