body {
    /*width: 500px; !* 원하는 width 값으로 변경 *!*/
    padding: 8px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#checkboxContainer, #midContainer, #resultContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

hr {
    width: 80%;
    max-width: 800px;
    border-top: 1px solid #00000005;
}

/*최상단 타입 선택 부분*/
.checkbox-grid {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 4px; /* space between grid items */
}

.checkbox-grid button {
    display: flex;
    width: 30px;
    padding: 2px 4px 8px 4px;
    flex-direction: column;
    align-items: center;

    border-radius: 100px;
    outline: none;
    border: 2px solid #e2e8f090;
    background-color: #e2e8f090;
    gap: 4px;
}

.checkbox-grid button.checked {
    border: 2px solid rgb(59, 130, 246);
    color: #f8fafc;
    background-color: rgb(59, 130, 246);
}

.checkbox-grid button img {
    width: 18px;
    height: 18px;
}

.checkbox-grid button label {
    writing-mode: vertical-rl;
    /*text-orientation: upright;*/
}

/*중단 선택확인 및 모드버튼부분*/
#midContainer {
    align-items: center;
}

button.active {
    display: inline-block;
    background-color: #4CAF50; /* 예시로 배경색을 초록색으로 지정 */
    color: white; /* 텍스트 색상 */
    border: 2px solid #4CAF50; /* 테두리 */
}

#buttonLabel {
    display: flex;
    justify-content: center;
    gap: 0;
}

#buttonLabel button {
    display: flex;
    flex-wrap: nowrap;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    outline: none;

    border: none;
    background: none;
    gap: 8px;

    font-size: 16px;
}

#buttonLabel button img {
    width: 18px;
    height: 18px;
}


/*최하단 결과 부분*/

#resultContainer {
    display: flex;
    justify-content: space-between;
    gap: 0; /* 아이템 간의 간격 */
    list-style-type: none; /* 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
}

#resultContainer > ul {
    display: flex;
    flex-grow: 1;
    border-left: 1px solid #12121210;
    border-right: 1px solid #12121210;
    flex-direction: column;
    align-items: center;
}


#resultContainer button {
    display: flex;
    flex-wrap: nowrap;

    margin: 2px 0 2px 0;
    padding: 0 6px 0 0;
    flex-direction: row;
    align-items: center;

    border-radius: 100px;
    outline: none;
    border: 2px solid #e2e8f000;
    background-color: #e2e8f090;
    gap: 4px;

    font-size: 14px;
}

#resultContainer button img {
    width: 16px;
    height: 16px;
}

#resultContainer h3 {
    font-weight: bold;
    border-bottom: 2px solid #00000090;
    margin-bottom: 4px;
}

#resultContainer ul:first-child > h3, #resultContainer ul:last-child > h3 {
    border-bottom: 2px solid #ff1212;
}

#resultContainer ul:first-child, #resultContainer ul:last-child {
    color: #ff1212;
}

#resultContainer ul:first-child button, #resultContainer ul:last-child button {
    color: #ff1212;
    border: 2px solid #e2e8f000;
    background-color: #e2e8f090;
}